################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BigchainDbDriver.Application/UpgradeLog.htm
/.vs
/BigchainDbDriver.Application/.vs/BigchainDbDriver.Application
/BigchainDbDriver.Application/Backup
/BigchainDbDriver.Application/BigchainDbDriver.Application/bin/Debug/netcoreapp2.1
/BigchainDbDriver.Application/BigchainDbDriver.Application/obj
/BigchainDbDriver.Application/BigchainDbDriver.Assets/obj
/BigchainDbDriver.Application/BigchainDbDriver.Assets/bin/Debug/netcoreapp2.1
/BigchainDbDriver.Application/BigchainDbDriver.Transactions/bin/Debug/netcoreapp2.1
/BigchainDbDriver.Application/BigchainDbDriver.Transactions/obj
/BigchainDbDriver.Application/BigchainDbDriver.KeyPair/obj/Debug/netcoreapp2.1
/BigchainDbDriver.Application/BigchainDbDriver.KeyPair/obj
/BigchainDbDriver.Application/BigchainDbDriver.KeyPair/bin/Debug/netcoreapp2.1
/BigchainDbDriver.Application/BigchainDbDriver.NUnit.Tests/obj
/BigchainDbDriver.Application/BigchainDbDriver.NUnit.Tests/bin/Debug/netcoreapp2.1
/BigchainDbDriver.Application/BigchainDbDriver.Common/bin/Debug/netcoreapp2.1
/BigchainDbDriver.Application/BigchainDbDriver.Common/obj
/BigchainDbDriver.Application/BigchainDbDriver.General/obj/Debug/netcoreapp2.1
/BigchainDbDriver.Application/BigchainDbDriver.General/bin/Debug/netcoreapp2.1
/BigchainDbDriver.Application/BigchainDbDriver.General/obj
/BigchainDbDriver.Application/BigchainDbDriver/obj
/BigchainDbDriver.Application/BigchainDbDriver/bin/Debug/netcoreapp2.1
